doctype html
html(lang="en")
  head
    title Manuel Osorio - Starter Kit
    meta(charset="utf-8")
    meta(name="Author" content="Manuel Osorio")
    meta(name="description" content="Starter kit used to quickly get started on new projects.")
    
    // Open Graph - Facebook, Google, LinkedIn
    meta(property="og:type" content="Article")
    meta(property="og:description" content="Starter kit used to quickly get started on new projects.")
    meta(property="og:image" content="")
    meta(property="og:url" content="#")
    meta(property="og:site_name" content="Manuel Osorio - Starter Kit")
    //end Open Graph

    //Twitter Meta Content
    meta(name="twitter:title" content="Manuel Osorio - Starter Kit")
    meta(name="twitter:description" content="Starter kit used to quickly get started on new projects.")
    meta(name="twitter:image" content="")
    meta(name="twitter:site" content="@TheManuelOsorio")
    meta(name="twitter:creator" content="@TheManuelOsorio")
    //End Twitter Meta Content

    meta(name="robots" content="noindex, nofollow")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet" href="css/style.css")
  body
    include includes/header.pug
    script(src="scripts/main.js")
